# Copy this file to ".env" and update the values for your local setup

SECRET_KEY=change-this-to-a-random-secret-string

DB_USER=root
DB_PASSWORD=your_mysql_password
DB_HOST=localhost
DB_NAME=smart_waste_db

FLASK_ENV=development
FLASK_DEBUG=1
